Lab05-Client/Connected Services/WCFSimplex/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Simplex" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="tcpEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Lab05" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISimplex_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ISimplex_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ISimplex_Concat_InputMessage">
    <wsdl:part name="parameters" element="tns:Concat" />
  </wsdl:message>
  <wsdl:message name="ISimplex_Concat_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConcatResponse" />
  </wsdl:message>
  <wsdl:message name="ISimplex_Sum_InputMessage">
    <wsdl:part name="parameters" element="tns:Sum" />
  </wsdl:message>
  <wsdl:message name="ISimplex_Sum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumResponse" />
  </wsdl:message>
  <wsdl:portType name="ISimplex">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimplex/Add" message="tns:ISimplex_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimplex/AddResponse" message="tns:ISimplex_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Concat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimplex/Concat" message="tns:ISimplex_Concat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimplex/ConcatResponse" message="tns:ISimplex_Concat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimplex/Sum" message="tns:ISimplex_Sum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimplex/SumResponse" message="tns:ISimplex_Sum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="httpEndpoint" type="tns:ISimplex">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ISimplex/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Concat">
      <soap:operation soapAction="http://tempuri.org/ISimplex/Concat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <soap:operation soapAction="http://tempuri.org/ISimplex/Sum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tcpEndpoint" type="tns:ISimplex">
    <wsp:PolicyReference URI="#tcpEndpoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/ISimplex/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Concat">
      <soap12:operation soapAction="http://tempuri.org/ISimplex/Concat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <soap12:operation soapAction="http://tempuri.org/ISimplex/Sum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Simplex">
    <wsdl:port name="httpEndpoint" binding="tns:httpEndpoint">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Lab05/Simplex/" />
    </wsdl:port>
    <wsdl:port name="tcpEndpoint" binding="tns:tcpEndpoint">
      <soap12:address location="net.tcp://localhost:8734/Design_Time_Addresses/Lab05/Simplex/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/Design_Time_Addresses/Lab05/Simplex/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-2QTVKAR\Harwex213</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>