Lab07-Client/Connected Services/SyndicationService/System.ServiceModel.Syndication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.ServiceModel.Syndication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.ServiceModel.Syndication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Atom10FeedFormatter">
    <xs:sequence>
      <xs:element ref="xs:schema" />
      <xs:any />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Rss20FeedFormatter">
    <xs:sequence>
      <xs:element ref="xs:schema" />
      <xs:any />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SyndicationFeedFormatter">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="SyndicationFeedFormatter" nillable="true" type="tns:SyndicationFeedFormatter" />
</xs:schema>